
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');

@import 'bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCF6F5;
  color: #e74c3c;

  
}

p {
  margin-bottom: 0.2rem;
}

a {
  color:#333333;
}




/* HeroSection*/

.hero-section {
  background: 
  linear-gradient(90deg, #03030388 0%, #120f0f88 100%),
  url('./assets/hero.png');
  background-position-x: right;
	background-position-y: center;
  //background-size: cover;
  background-repeat: no-repeat;
  //margin-right: 10rem;

  //background-color: #FCF6F5;
  
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-content {
  max-width: 450px;
  //margin-right: auto;
  padding: 50px;
}

.hero-title {
  font-size: 6rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 20px;
  //font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
}

.hero-subtitle {
  font-size: 2.5rem;
  color: #e67e22 ;
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
}



.btn {
  font-size: 1.25rem;
  background-color: #e74c3c;
  margin-top: 1rem;
  
}

.hero-image img {
  height: 500px;
  width: auto;
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-h1, .project-h1, .blog-h1, .resume-title, .contact-title {
  margin-top: 3rem;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 5rem;
}



/* Card */

.card-title {
  margin-bottom: 1rem;
  color: #e74c3c;
}

.card-img {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.resume-card, .card {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.card-p {
  margin-bottom: 1rem;
}



/*Contact */

/* ContactPage.css */
.contact-section {
  background-color: #FCF6F5;
  padding: 100px 0;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color:#e74c3c;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-size: 1.25rem;
  color: #e67e22;
  margin-bottom: 30px;
}

.contact-content {
  padding: 40px;
  //background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}

/* Resume section */

.resume-title {
  text-align: center;
  margin: 2rem;
}

.resume-card-title {
  border-bottom: 2px solid #e74c3c;
font-weight: bold;
font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  color: #e67e22 ;
}

.resume-card-text {
  margin-bottom: 2rem;
}

li {
  list-style: circle;
}

.about-text {
  padding: 2rem;
  color: #333333;
  text-align: start;
}

.nav-link {
  color: #e74c3c;
}

/* Footer */
.footer {
  background-color: #e74c3c; 
  color: #ffffff; 
  width: 100%;
  max-width: none;
  margin-bottom: 0%;
  
}


.footer-row{
  display: flex;
  justify-content: center;
}

.custom-navbar {
  background-color: #e74c3c; 

  width: 100vw;
  z-index: 2;
}

.nav-link {
  color: #FCF6F5;
}

.navbar-nav .nav-link.active {
  color:#333333
}

.social-media-li{
  list-style: none;
  text-decoration: none;
}

.social-media-a {
  text-decoration: none;
  color:#FCF6F5;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #e74c3c;
  font-size: 0.8em;
}
.social-media-list {
  padding-left: 0%;
}

.footer-col {
 margin-top: 0.5rem;
}

.github-link {
  color: #e74c3c;
  font-size: 0.8em;
}

.github-p {
  font-size: 0.8em;
}

.p-date {
  margin-top: 2rem;
}

.label-form {
  width: 100vw;

}

.textarea-form {
  width: 100vw;
  height: 500px;
}


@media screen and (min-width: 730px) {
.hero-section {
  background: 

  url('./assets/hero.png');
  border-radius: 2rem;
  background-position-x: right;
	background-position-y: center;
  //background-size: cover;
  background-repeat: no-repeat;

  //margin-right: 10rem;

  //background-color: #FCF6F5;
  
}
}