
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import 'bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCF6F5;
  color: #990011;
  
}

p {
  margin-bottom: 0.2rem;
}

a {
  color:#777;
}

/* .hero-img {
  display: flex;
 justify-content: space-between;
  align-items: center;
} */

/* HeroSection.css */
.hero-section {

  padding: 100px 0;
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-content {
  max-width: 450px;
  margin-right: auto;
  padding: 50px;
}

.hero-title {
  font-size: 5rem;
  font-weight: bold;
  color: #990011;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 2.5rem;
  color: #990011;
  margin-bottom: 30px;
}



.btn {
  font-size: 1.25rem;
  background-color: #990011;
  
}

.hero-image img {
  height: 500px;
  width: auto;
}


/* Card */

.card.title {
  margin-bottom: 1rem;
}

/*Contact */

/* ContactPage.css */
.contact-section {
  background-color: #FCF6F5;
  padding: 100px 0;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #990011;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-size: 1.25rem;
  color: #990011;
  margin-bottom: 30px;
}

.contact-content {
  padding: 40px;
  //background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}

/* Resumesection */

.resume-title {
  text-align: center;
  margin: 2rem;
}

.resume-card-title {
  border-bottom: 2px solid #990011;
  font-style: italic;
}

.resume-card-text {
  margin-bottom: 2rem;
}

li {
  list-style: circle;
}

.about-text {
  padding: 3rem;
  color: #333;
}

.nav-link {
  color: #990011;
}